@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Poppins:ital,wght@1,200;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* ---------------------Auth Page ----------------------------------------- */

.auth_main {
  font-family: 'Poppins', sans-serif;
  background: #134e5e;
  background: -webkit-linear-gradient(to right, #134e5e, #71b280);
  background: linear-gradient(to right, #134e5e, #71b280);
  height: 100vh;
  width: 100%;
}

.auth_main .header {
  padding-top: 20px;
  padding-left: 20px;
  width: 100%;
}

.auth_main img {
  width: 50px;
  height: 50px;
  font-weight: bolder;
}

.login-box {
  margin-top: 75px;
  height: auto;
  background: #1A2226;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 20px;
}

.login-key {
  height: 100px;
  font-size: 80px;
  line-height: 100px;
  background: -webkit-linear-gradient(#27EF9F, #0DB8DE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.login-title {
  margin-top: 15px;
  text-align: center;
  font-size: 30px;
  letter-spacing: 5px;
  margin-top: 15px;
  font-weight: bold;
  color: #ECF0F5;
  font-family: 'Alkalami', serif;
}

.login-form {
  margin-top: 25px;
  text-align: left;
}

.form-group input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #0DB8DE;
  border-top: 0px;
  border-radius: 0px;
  font-weight: bold;
  outline: none;
  margin-bottom: 20px;
  padding-left: 0px;
  letter-spacing: 2px;
}

.form-group {
  margin-bottom: 40px;
  outline: 0px;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 2px solid #0DB8DE;
  outline: 0;
  background-color: #1A2226;
  color: #ECF0F5;
}

input[type=text] {
  outline: none;
  box-shadow: 0 0 0;
  color: #F2D7D9;
  padding-left: 10px;
}

input[type=email] {
  outline: none;
  box-shadow: 0 0 0;
  color: #F2D7D9;
  padding-left: 10px;

}

label {
  margin-bottom: 0px;
  padding-left: 10px;
}

.form-control-label {
  font-size: 10px;
  color: #6C6C6C;
  font-weight: bold;
  letter-spacing: 5px;
}

.btn-outline-primary {
  border-color: #0DB8DE;
  color: #0DB8DE;
  border-radius: 0px;
  font-weight: bold;
  letter-spacing: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.btn-outline-primary:hover {
  background-color: #0DB8DE;
  right: 0px;
}

.login-btm {
  float: left;
}

.login-button {
  padding-right: 0px;
  text-align: right;
  float: right;
  cursor: pointer;
  margin-bottom: 25px;
}

.login-text {
  text-align: left;
  padding-left: 0px;
  color: #A2A4A4;
}

.loginbttm {
  padding: 0px;
}

#alr {
  text-decoration: none;
  font-size: 12px;
  text-transform: lowercase;
  text-align: center;
  color: #0DB8DE;
}

#alr #alr_dy {}

#alr #alr_dy:hover {
  color: #53e3a6;
}

#red {
  color: red;
  font-size: 10px;
  letter-spacing: 2px;
}

/* ----------------------------------------------------------------------------- */

/*------------------------------ Media Page -------------------------------------*/

.main {
  background-color: #180A0A;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 20px;
}

.main .head {
  background: #E1FFEE;
  height: 15vh;
  padding-top: 10px;
}

.main .header .head img {
  transform: translate(10px, 20px);
  width: 50px;
  height: 50px;
  font-size: larger;
}

.main .header .head .top {
  transform: translate(0px, -50px);
}

.main .header .head .lg_out {
  float: right;
  position: absolute;
  right: 40px;
  background: #50a3a2;
  padding: 4px 10px;
  border-radius: 4px;
  z-index: 99999;
}

.main .head .lg_out .txt {
  font-size: 14px;
  letter-spacing: 3px;
  font-family: 'oblique';
  cursor: pointer;
  color: white;
}

.main .header .head .lg_out:hover {
  background: #53e3a6;
}

.main .header .head .lg_out:hover {
  color: #f9f9f9;
}

.main .head .brand {
  font-size: 25px;
  font-weight: 800;
  letter-spacing: 15px;
  font-family: 'Alkalami', serif;
  color: #53e3a6;
  text-align: center;
  margin-bottom: 10px;
}

.main .head .title .name {
  font-size: 20px;
  padding-top: 15px;
  font-family: 'Alkalami', serif;
  font-weight: 500;
  text-align: center;
  letter-spacing: 10px;
  word-spacing: 5px;
}

.main .search {
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0px;
}

.main .search input {
  width: 50%;
  padding: 10px 3px;
  outline: none;
  border: none;
  border-bottom: 2px solid #53e3a6;
  background: transparent;
  letter-spacing: 2px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  text-transform: lowercase;
  color: #f9f9f9;
}

.main .search input::placeholder {
  color: lavender;
  font-size: 15px;
  padding-left: 10px;

}

.main .search .link {
  text-decoration: none;
}

.main .search .link .click {
  text-decoration: none;
  padding: 4px 15px;
  font-size: 18px;
  letter-spacing: 2px;
  border-radius: 18px;
  margin-top: 5px;
  font-family: 'oblique';
  text-transform: capitalize;
  border: 0.5px solid #4d4d4f;
  outline: none;
  cursor: pointer;
  background: lightseagreen;
  color: lavender;
}

.main .search .click:hover {
  background: #53e3a6;
  color: white;
}

/* .main .header{
  position: fixed;
  width: 100%;
} */


main {
  display: flex;
  justify-content: space-around;
}

.main main .contain {
  margin-top: 50px;
  width: 55%;
}

.main main .comment_box {
  width: 30%;
  background: lavender;
  border: 1px solid #555;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-top: 50px;
}

.main main .comment_box .slider {
  overflow-y: scroll;
  height: 48vh;
}

.main main .comment_box .slider::-webkit-scrollbar {
  width: 4px;
}

.main main .comment_box .slider::-webkit-scrollbar-track {
  background-color: whitesmoke;
  border-radius: 5px;
}

.main main .comment_box .slider::-webkit-scrollbar-thumb {
  background-color: #888;
}

.main main .comment_box .slider::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.main main .comment_box .comment_area {
  margin-top: 12px;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-bottom: 10px;
  position: sticky
}

.main main .comment_box .comment_area .sb {
  cursor: pointer;
}

.main main .comment_box .comment_area .com_t {
  padding-bottom: 10px;
  width: 80%;
  border: none;
  outline: none;
  border-bottom: 2px solid #27EF9F;
  background: transparent;
  font-size: 13px;
  letter-spacing: 1px;
  word-spacing: 1px;
  color: black;
}

.main main .comment_box .comment_area .com_t::placeholder {
  text-transform: lowercase;
  color: black;
  font-size: 15px;
}

.main main .comment_box .cmn_t {
  border: 1px solid black;
  background-color: #DAEAF1;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 5px;
  padding: 5px 0px;
  margin: 5px 15px;
}

.main main .comment_box .cmn_t .cmt_list {
  margin-left: 5px;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  word-spacing: 2px;
}

.main main .comment_box .comment_area #red {
  color: red;
  font-size: 12px;
}

.col-9 #crd {
  width: 130%;
  border-radius: 5px;
}

.col-9 .card .top {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col-9 .card .bottom {
  padding: 10px 20px;
}

.col-9 .card .top .userDetails {
  width: 100%;
  display: flex;
  align-items: center;
}

.profilepic {
  display: inline-block;
  cursor: pointer;
}

.profilepic .profile_img {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  width: 30px;
  height: 30px;
  background: linear-gradient(to right, red, orange);
  padding: 2px;
  margin-right: 8px;
  cursor: pointer;
}

.profilepic .profile_img .image {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
}

.profilepic .profile_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.col-9 .card .top .userDetails h3 {
  font-size: 16px;
  color: #4d4d4f;
  padding-top: 10px;
  font-weight: 500;
  line-height: 1em;
}

.imgBx {
  position: relative;
  width: 100%;
  min-height: 300px;
  margin: 10px 0 15px;
}

input.text {
  width: 100%;
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 14px;
  color: #262626;
  background: none;
}

input.text::placeholder {
  color: #777;
}

.main .description {
  background-color: #f9f9f9;
  padding-top: 10px;
}

.main .description .desc_text {
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 15px;
  font-family: 'Poppins', sans-serif;
}

.main .push {
  font-size: 30px !important;
  color: #50a3a2 !important;
}

.main .push:hover {
  color: #53e3a6 !important;
}

#gif {
  text-align: center;
}

#filter {
  font-size: 15px;
  color: lavender;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  letter-spacing: 4px;

}

@media screen and (max-width: 1000px) {
  .col-9 {
    width: 100%;
    background: #fafafa;
  }
}

@media screen and (max-width: 600px) {
  .contain {
    width: 100% !important;
  }

  .navbar .contain {
    padding: 15px 10px !important;
  }

  .col-9 {
    margin-top: 4px;
    min-width: 100%;
  }

  .col-9 .card {
    margin-bottom: 0px;
    width: 100%;
    border: none;
  }

  .imgBx {
    position: relative;
    width: 100%;
    min-height: 400px;
    margin: 10px 0 15px;
  }

}

/* -------------------------------------------------- */

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* ---------------------------------------------------------------------------------- */
/* ----------------------------- post pic -------------------------------------------- */

.p_main {
  width: 100%;
  height: 100vh;
  background: #f9f9f9;
}

.p_main #back {
  font-size: 30px;
  padding: 0px 15px;
  border-radius: 5px;
  float: left;
  transform: translate(40px, 60px);
  background: #50a3a2;
  /* color: white; */
}

.p_main #link {
  text-decoration: none;
  color: white;
}

.p_main #back:hover {
  background-color: #53e3a6;
  color: black;
}

.post_main {
  display: flex;
  width: 100%;
  height: 90vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f9f9f9;
}

.post_main .post_title {
  font-size: 20px;
  font-weight: 600;
  font-family: 'Alkalami', serif;
  margin-top: 5px;
  margin-bottom: 25px;
  letter-spacing: 10px;
  text-transform: capitalize;
}

.post_main .post_title span {
  color: #27EF9F;
}

.post_main .post_head {
  height: 500px;
  width: 430px;
}

#default-btn {
  cursor: pointer;
}

.post_main .post_head .post_pic {
  position: relative;
  height: 300px;
  width: 100%;
  border-radius: 10px;
  background: #fff;
  border: 2px dashed #c2cdda;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.post_pic .post {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post_pic .post img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.post_pic .post_icon {
  font-size: 100px;
  color: #53e3a6;
}

.post_pic .text {
  font-size: 20px;
  font-weight: 500;
  color: #50a3a2
}

.post_pic .cancel-btn {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 20px;
  cursor: pointer;
  color: #27EF9F;
  display: none;
}

.post_pic .file-name {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  color: #fff;
  padding: 8px 0px;
  font-size: 18px;
  background-image: linear-gradient(109.6deg, rgba(61, 245, 167, 1) 21.2%, rgba(9, 111, 224, 1) 91.1%);
}

.post_head #custom-btn {
  margin-top: 30px;
  width: 100%;
  height: 50px;
  display: block;
  border: none;
  z-index: 99999;
  padding-top: 10px;
  text-align: center;
  outline: none;
  border-radius: 25px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  background-image: linear-gradient(109.6deg, rgba(61, 245, 167, 1) 21.2%, rgba(9, 111, 224, 1) 91.1%);
}

.post_head .des {
  margin: 20px 0px;
}

.post_head .des .des_t {
  width: 100%;
  border: none;
  border-bottom: 1px solid #27EF9F;
  background: transparent;
  padding-left: 5px;
  padding-bottom: 5px;
  color: black;
  letter-spacing: 2px;
  font-size: 13px;
  font-family: 'Poppins', sans-serif;
}

.post_head .des .des_t::placeholder {
  font-size: 15px;
  font-weight: 400;
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: 5px;
}